/* ========================================================================== 


  Base brand

  Author:     Stephen Zsolnai (http://www.zolla.co.uk)
  Decription: Colors etc
  Changelog:  2014/01/12 : File created.

========================================================================== */


body
  font-family helvetica-neue
  font-size 100%
  line-height 1.5
  color default-color
  
// p
//   margin 0.75em 0
  
h2
  line-height 1.5em
  margin-top 0.5em
  margin-bottom 0.5em
  
a,a:visited
  color default-color
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  text

a:hover
  color highlight-color
  
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


