<style>
  
  div[class*="col"] {
    margin-bottom: 2em;
    background: #f1f1f1;
  }
</style>
<div class="centered-content">


  <div class="row">
    <div class="col--12">
      <h1>12 col layout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col--12">
      <h2>col 12</h2>
      {{> article}}
    </div>
  </div>


  <div class="row">
    <div class="col--12">
      <h1>9 - 3 layout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col--3">
      <h2>col 3</h2>
      {{> article}}
    </div>
    <div class="col--3">
      <h2>col 3</h2>
      {{> article}}
    </div>
    <div class="col--3">
      <h2>col 3</h2>
      {{> article}}
    </div>
    <div class="col--3">
      <h2>col 3</h2>
      {{> article}}
    </div>
  </div>
  <div class="row">
    <div class="col--9">
      <h2>col 9</h2>
      {{> article}}
    </div>
    <div class="col--3">
      <h2>col 3</h2>
      {{> article}}
    </div>
  </div>

  
  <div class="row">
    <div class="col--12">
      <h1>8 - 4 layout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col--4">
      <h2>col 4</h2>
      {{> article}}
    </div>
    <div class="col--4">
      <h2>col 4</h2>
      {{> article}}
    </div>
    <div class="col--4">
      <h2>col 4</h2>
      {{> article}}
    </div>
  </div>
  <div class="row">
    <div class="col--8">
      <h2>col 8</h2>
      {{> article}}
    </div>
    <div class="col--4">
      <h2>col 4</h2>
      {{> article}}
    </div>
  </div>

  
  <div class="row">
    <div class="col--12">
      <h1>7 - 5 layout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col--7">
      <h2>col 7</h2>
      {{> article}}
    </div>
    <div class="col--5">
      <h2>col 5</h2>
      {{> article}}
    </div>
  </div>
  

  <div class="row">
    <div class="col--12">
      <h1>6 - 6 layout</h1>
    </div>
  </div>
  <div class="row">
    <div class="col--6">
      <h2>col 6</h2>
      {{> article}}
    </div>
    <div class="col--6">
      <h2>col 6</h2>
      {{> article}}
    </div>
  </div>
</div>