
<footer class="footer-main centered-content">

  <div class="row">
    <div class="col--3">
      <div class="linkBlock">
        <ul class="linkBlock__links">
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
        </ul>
      </div>
    </div>
    
    <div class="col--3">
      <div class="linkBlock">
        <ul class="linkBlock__links">
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
        </ul>
      </div>
    </div>
    
    <div class="col--3">
      <div class="linkBlock">
        <ul class="linkBlock__links">
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
        </ul>
      </div>
    </div>
    
    <div class="col--3">
      <div class="linkBlock">
        <ul class="linkBlock__links">
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
          <li><a href="NOLINK">Link one</a></li>
        </ul>
      </div>
    </div>
  </div>
  
</footer>