<header id="masthead" role="banner">
    <header class="centered-content">
        <div class="logo-bg">
                <h1>
                    <a href="/">
                      <img src="/img/logo.gif" alt="Stadion">
                    </a>
                </h1>
        </div>
    </header>
</header>