
<div class="centered-content">
  <h2>Development pages</h2>
  <ul>
    <li><a href="/grid">Grid</a></li>
    <li><a href="/vertical-rhythm">Vertical Rhythym. Baseline grid</a></li>
    <li><a href="/module-testbed">Module testbed</a></li>
    <li><a href="/style-guide">Style guide</a></li>
  </ul>
  
  <h2>Page links:</h2>
  <ul>
    <li><a href="/Home">Home</a></li>
    <li><a href="/articles">Article List</a></li>
    <li><a href="/article/1">Single article</a></li>
  </ul>
</div>