<div class="centered-content">
  <h1>Multi layout module testing</h1>

  <ul>
    <li><a href="/module-testbed/articles">Article List</a></li>
    <li><a href="/module-testbed/article">Article</a></li>
  </ul>
</div>