
<div class="centered-content">
  
  <h2>Just drop shit in here to quickly test workings...</h2>
  <div class="article">
    article testing...
  </div>

  <div class="carousel">
    carousel testing...
  </div>

  <div id="testmessage">
    Testing...
  </div>

  <div id="article" class="article" id="articleRegion">
    this should get replaced with an article.
  </div>

   <div id="articleList" class="article" id="articleRegion">
    this should get replaced with an article.
  </div>
</div>